@model List<Subcrib>

@{
    ViewData["Title"] = "List";
}

<div align="center">
    <h2>Подписки</h2>
    @if (Model != null && Model.Any())
    {
        <div class="subscriptions-container">
            @foreach (var subs in Model)
            {
                <div class="subscription-card">
                    <h3 class="subscription-title">@subs.Name</h3>
                    <table>
                        <tr>
                            <th>Тип</th>
                            <td>@subs.Type</td>
                        </tr>
                        <tr>
                            <th>Описание</th>
                            <td>@subs.Discription</td>
                        </tr>
                        <tr>
                            <th>Цена</th>
                            <td>@subs.Price</td>
                        </tr>
                        <tr>
                            <th>Дата окончания</th>
                            <td>@subs.Endtime.ToShortDateString()</td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    }
    else
    {
        <p>У вас нет подписок.</p>
    }
</div>